* {
    box-sizing: border-box;
    outline: none;
}

@font-face {
    src: url(../fonts/Commissioner-Black.ttf);
    font-family: CommissionerBlack;
}

@font-face {
    src: url(../fonts/Commissioner-Medium.ttf);
    font-family: commissionermedium;
}

@font-face {
    src: url(../fonts/Commissioner-SemiBold.ttf);
    font-family: CommissionerSemibold;
}

@font-face {
    src: url(../fonts/Commissioner-Regular.ttf);
    font-family: CommissionerRegular;
}

:root {
    --primary-color: #222;
    --primary-nav-color: rgb(3, 3, 3);
    --dark-color: #da0f47;
    --secondary-color: #f25209;
    --primary-bg-color: #cccaca;
    --light-color: white;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: CommissionerRegular;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
}

.wrapper {
    width: 80%;
    margin: auto;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    margin: 0px 10px;
    padding: 5px 0px;
    display: block;
}

.nav-links li a {
    color: var(--primary-bg-color);
    font-size: 20px;
}

.nav-header {
    background-color: var(--primary-nav-color);
    /* padding: 10px 0px; */
}

.logo {
    width: 17%;
}

.logo img {
    width: 100%;
}

.search {
    color: var(--light-color);
}

.active-nav {
    background-color: var(--dark-color);
    padding: 4px 15px;
    border-radius: 5px;
}
.genres{
    position: relative;
    padding: 0px;
 

}
.sub-menu{
    display: none;
    position: absolute;
    background-color: var(--primary-nav-color);
    top :34px;
    padding: 0px;

}
.genres:hover >.sub-menu{
    display: block;
}
.sub-menu li:hover{
    background-color: var(--dark-color);

}
.slide-cont{
    overflow: hidden;
}
.slider{
    display: flex;
    width: 300%;
   
}
.slides img{
    height: 100%;
    width: 100%;
}
.slides{
    height: 200px;
    width: 60vw;
    animation: SlideImg;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes SlideImg{
    0%{
        transform: translateX(-65%);
    }
    25%{
        transform: translateX(-65%);
    }
    30%{
        transform: translateX(-165%);
    }
    50%{
        transform: translateX(-165%);
    }
    55%{
        transform: translateX(-265%);
    }
    80%{
        transform: translateX(-265%);
    }
    90%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }


   
}
.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 5px 0px;
    border-bottom: 1px solid var(--primary-bg-color);
}
.heading p{
    padding: 0px;
    margin: 0px;
}
.socials a:link{
     text-decoration: none;
     color: var(--primary-nav-color);
}
.socials a:hover{
    text-decoration: underline;
    color: var(--primary-nav-color);
}
.socials a:visited{
    color: var(--primary-nav-color);
}